#center {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1%;
}
#right {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 70%;
  right: 0;
  bottom: 0;
  width: 1%;
}
#left {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 70%;
  bottom: 0;
  width: 1%;
}
#block1 {
  display: block;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
